/* Lab 04 PWA */

body {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu;
}

/* Make content area fill the entire browser window */
html, .fullscreen {
    display: flex;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    background: rgb(2,0,36);
    background: linear-gradient(21deg, rgba(2,0,36,1) 0%, rgb(222, 94, 94) 0%, rgb(227, 16, 16) 100%);
}

/* Center the content in the browser window */
.container {
    text-align: center;
    position: relative;
}

.title {
    font-size: 3rem;
}

/* Place the navbar at the bottom of the page, and make it stick */
.navbar {
    /* background-color: #333; */
    overflow: hidden;
    /* position: fixed; */
    bottom: 0;
    width: 100%;
}

/* Style the links inside the navigation bar */
.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
a {
    text-decoration: none;

}
a:hover {
    text-decoration: none;
    color: inherit;
}
/* Change the color of links on hover */
.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.btn-success {
    background-color: tomato;
    border: none;
}

.btn-success:hover {
    background-color: darkred;
}

.modal-content {
    background-color: tomato;
    align-items: center;
    align-content: center;
    justify-content: center;
}
.homeButton {
    position: absolute;
}
.timer {
    /*dirty hack, needs to be inproved */
    padding-top: 2em;
}
#Gruppe {
    padding-bottom: 1em;
}

.navText {
    font-size: 1em;
}

.card {
    border: none;
    background-color: rgba(222, 94, 94, 0.3);
}

input {
    background-color: transparent;
    color: white;
    border: none;
    border-bottom: 2px solid red;
    outline: none;
}

.checkIcon {
    background-color: transparent;
    border: none;
    outline: none;

}

#joinCode {
    font-weight: bold;
    color: rgba(255, 255, 255, 0.4);
}

#friendsInfo {
    font-size: 1em;
}

.bottomLink a{
    color: black;
    background-color: transparent;
}
.bottomLink:hover a{
    color: black;
    background-color: transparent;
}