 /* Lab 04 PWA */

body {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu;
}

/* Make content area fill the entire browser window */
html, .fullscreen {
  display: flex;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  background: #161616;
  background: linear-gradient(21deg, rgba(2,0,36,1) 0%, rgb(222, 94, 94) 0%, rgb(227, 16, 16) 100%);
}

/* Center the content in the browser window */
.container {
  text-align: center;
}

.title {
  font-size: 3rem;
}

 #Gruppe {
   padding-bottom: 1em;
 }
/* Place the navbar at the bottom of the page, and make it stick */
.navbar {
  /* background-color: #333; */
  overflow: hidden;
  /* position: fixed; */
  bottom: 0;
  width: 100%;
}

/* Style the links inside the navigation bar */
.navbar a {
  float: left;
  display: block;
  color: #161616;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.navbar a:hover {
  background-color: transparent;
  color: #161616;
}

.btn-success {
  background-color: tomato;
  border: none;
}

.btn-success:hover {
  background-color: darkred;
}

.modal-content {
  background-color: tomato;
  align-items: center;
  align-content: center;
  justify-content: center;
}

thead {
  background-color: tomato;
}

 a {
   text-decoration: none;

 }
 a:hover {
   text-decoration: none;
   color: inherit;
 }

 .card {
   background-color: rgba(222, 94, 94, 0.3);
 }

th, td {
   border: none;
 }